[submodule "message_filters"]
	path = message_filters
	url = https://github.com/ros2/message_filters.git
	branch = humble
[submodule "ros2_asus_xtion"]
	path = ros2_asus_xtion
	url = https://github.com/mgonzs13/ros2_asus_xtion.git
[submodule "audio_common"]
	path = audio_common
	url = https://github.com/mgonzs13/audio_common.git
[submodule "ros2_rb1"]
	path = ros2_rb1
	url = https://github.com/mgonzs13/ros2_rb1.git
